<div class="card flex justify-content-center">
  <p-card
    header="Type de service"
    subheader=""
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <div class="flex align-items-center">
        <p-avatar
          [image]="imagePresent ? '../../assets/lama.jpeg' : ''"
          [icon]="imagePresent ? '' : 'pi pi-user'"
          styleClass="mx-3 mt-3"
          size="xlarge"
          shape="circle"
        ></p-avatar>
        <div><b>Fellaini Marouane</b></div>
      </div>
    </ng-template>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit quisquam voluptate dolorum! Quos quae voluptatum perferendis deserunt vel atque aperiam iste reprehenderit, harum repudiandae voluptas alias praesentium provident quidem nemo.

      <br /><br />

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aut laudantium iusto quis doloribus ad obcaecati animi debitis exercitationem ea doloremque incidunt, nam tenetur repellendus eligendi esse veniam accusantium quae?
    </p>
    <p-button
      label="Réserver"
      icon="pi pi-angle-double-right"
      styleClass="z-index: 0;"
      [text]="true"
      [raised]="true"
      severity="secondary"
    ></p-button>
  </p-card>
</div>
