<div class="card flex justify-content-center">
    <p-card
      [header]="servicesType.title"
      [style]="{ width: '360px' }"
      class="service-card"
    >
    <div class="flex justify-content-between">

      <div class="flex align-items-center">
        <span class="pi pi-clock"></span>
        <p class="ml-2 mr-4">{{servicesType.duration}} min</p>
      </div>
      <form [formGroup]="form">
        <div class="flex align-items-center">
          <p class="mr-2">{{servicesType.enabled ? "Activé" : "Désactivé"}}</p>
          <p-inputSwitch formControlName="enabled" (click)="submit()"></p-inputSwitch>
        </div>
      </form>

      
    </div>
      
      <div class="h-16rem overflow-auto">
        {{servicesType.description}}
      </div>

      <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
          <p-button label="Modifier" severity="info" [outlined]="true" icon="pi pi-angle-double-right" size="small" ></p-button>          
          <p-button label="Supprimer" severity="danger" [outlined]="true" icon ="pi pi-trash" size="small"></p-button><!-- mettre routerlink pour suppr modif desac, avec le titre car c'est unique -->

        </div>
      </ng-template>
    </p-card>
  </div>
  